<div class="container">
  <h1>Sample Weekly Questions for the Iron-Man > Coding > Coding Interview Path</h1>
  <h2>Week 1: What will be the output for the following code?</h2>
  <h3>print type(type(int))</h3>

  <button mat-raised-button class="space">A) type 'int'</button><br>
  <button mat-raised-button class="space">B) type 'type'</button><br>
  <button mat-raised-button class="space">C) error</button><br>
  <button mat-raised-button class="space">D) 0</button><br>

  <h2>Week 2: What is the output for the following code?</h2>
  <h3>print 9//2</h3>

  <button mat-raised-button class="space">A) 4.5</button><br>
  <button mat-raised-button class="space">B) 4.0</button><br>
  <button mat-raised-button class="space">C) 4</button><br>
  <button mat-raised-button class="space">D) Error</button><br>

  <h2>Week 3: Which module in Python supports regular expressions?</h2>

  <button mat-raised-button class="space">A) re</button><br>
  <button mat-raised-button class="space">B) regex</button><br>
  <button mat-raised-button class="space">C) pyregex</button><br>
  <button mat-raised-button class="space">D) None of the above</button><br>

  <h2>Week 4: What does the following evaluate to?</h2>
  <h3>~~~~~~5</h3>

  <button mat-raised-button class="space">A) +5</button><br>
  <button mat-raised-button class="space">B) -11</button><br>
  <button mat-raised-button class="space">C) +11</button><br>
  <button mat-raised-button class="space">D) -5</button><br>

  <h2>Week 5: Which of these is not a core data type?</h2>
  <h3>Hint... Which is a user-defined data type</h3>

  <button mat-raised-button class="space">A) Lists</button><br>
  <button mat-raised-button class="space">B) Dictionary</button><br>
  <button mat-raised-button class="space">C) Tuples</button><br>
  <button mat-raised-button class="space">D) Class</button><br>
</div>


<app-fabarrow (fabClick)="goBack()"></app-fabarrow>
