<mat-toolbar color="primary">
  <span>Skill: {{ skill.title }}</span>
</mat-toolbar>

<mat-vertical-stepper linear>

  <mat-step label="Phase 1: Discovery" [completed]="false">
    Are you a rookie?
    <div>
      <button mat-button type="button">Go to next Phase</button>
    </div>
  </mat-step>

  <mat-step label="Phase 2">
    Do you kinda know whats going on now?
    <div>
      <button mat-button type="button">Go to next Phase</button>
    </div>
  </mat-step>

  <mat-step label="Phase 3">
    Can you apply what you know to create things?
  </mat-step>

  <mat-step label="Phase 4: Internalizing">
    Can you teach what you know to someone new to the subject?
  </mat-step>

</mat-vertical-stepper>

<app-fabarrow (fabClick)="goBack()"></app-fabarrow>
