.container {
  background: url("assets/superheroes-background-4.jpg"); 
}
img.background-page {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}
 .mat-app-background {
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.spacer {
  flex: 1 1 auto;
  }