.container {
  image:url("../assets/gifs/market-demo.gif") !important;
  background-size:contain  !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed  !important;
  background-position: center !important;
}


.spacer {
  flex: 1 1 auto;
  }