<mat-toolbar color="primary">
  <span>{{ hero.name }} : Skills</span>
</mat-toolbar>

<div class="container">
  <img class="hero-image" [src]="hero.image" />
  <button
    mat-flat-button
    color="primary"
    class="battle-button"
    (click)="battleButtonClicked()"
  >
    BATTLE!
  </button>

  <mat-tab-group mat-stretch-tabs>
    <mat-tab class="tab" *ngFor="let skill of skills" label="{{ skill.title }}">
      <canvas
        baseChart
        [datasets]="[{ data: skill.dataPoints, label: 'Strength' }]"
        [labels]="lineChartLabels"
        [options]="lineChartOptions"
        [colors]="lineChartColors"
        [chartType]="lineChartType"
      ></canvas>
    </mat-tab>
    <mat-divider></mat-divider>
  </mat-tab-group>
  <button mat-raised-button class="assessment-button" color="accent" (click)="openAssessment()">Assessment</button>
</div>

<app-fabarrow (fabClick)="goBack()"></app-fabarrow>
